<!--
<mat-toolbar color="primary">
  <a class="title" [routerLink]="['/']">{{ title }}</a>

  <div class="toolbar-spacer"></div>
  <button mat-raised-button *ngIf="loggedIn" (click)="editProfile()">Edit Profile</button>
  <button mat-raised-button *ngIf="!loggedIn" (click)="login()">Login</button>
  <button mat-raised-button color="warn" *ngIf="loggedIn" (click)="logout()">Logout</button>
</mat-toolbar> -->

<div class="container">
  <router-outlet *ngIf="!isIframe"></router-outlet>
</div>
