/* Custom CSS 
 * v2.1.1
 * Author @jdmdigital
 */

body{
	padding-top: 1.75rem;
	background-color:#f2f5fa;
	font-size:1.05rem;
}
body.hub{
	/*(background-color:#f2f5fa;*/
}
.hub .hub-return{display: none;}
@media screen and (min-width:650px){
	.hub-return a{margin-top:7px;}
	.hub-return {margin-right: 1rem;}
}
nav{
	margin-bottom: 1.75rem;
	border-radius: .75rem;
}
.navbar-brand{padding-bottom: 0;}
footer{
	background-color:#ebf0f9;
	margin:1.75rem 0 0;
	border-top:1px solid #e7ebf4;
	font-size:0.8rem;
}
footer p{
	margin-top:1.5rem;
}
footer a{
	color:#8a8f94;
}
footer a:hover{
	color:#009bc8;
}
footer .nav{
	margin-top:0.8rem;
}
footer img{
	padding-bottom: 1.5rem;
	margin-top:-8.5rem;
	text-align: center;
	max-width: 200px;
}
footer .footer-img{display: none;text-align: center;}
@media screen and (min-width:768px){
	footer{
		font-size:1rem;
	}
	footer .footer-img{
		display: block;
	}
}
@media screen and (min-width:1200px){
	.container-fluid{
		width:95%;
	}
}
.bg-shadow{
	background-color:#fff;
	border-bottom:1px solid #eee;
	-webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.05); 
	box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.05);
}
.img-round{
	border-radius:90px;
	border-radius: 50%;
}
.toast{
	position: fixed; 
	top: 1.2rem; 
	right: 1.2rem;
	width:300px;
	z-index:105;
}
.toast.toast-stacked{
	top: 8rem; 
}
.dropdown-menu{border-radius:0.75rem;}
h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5, .card-header{
	font-family: 'Varela Round','Arial-Rounded','HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.app-projects-single h1 {color:#666;}
.app-projects-single h1 span{color:rgba(0,0,0,1)}
#hub-tabs{margin-bottom:1.75rem;}
/*#hub-tabs .nav-link{min-width:100px;}*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color:#7987a1;
	color: #fff;
}
.nav-pills .nav-item{
	margin-right:1.5rem;
}
.nav-pills .nav-item:last-child{
	margin-right:0;
}
.nav-pills .nav-link{
	border-radius: 0.75rem;
	background-color:#fff;
	color:#202c47;
}
.nav-pills .nav-link:hover{
	background-color:#dee6ef;
	color:#19243d;
}
.nav-pills .nav-link.active:hover{
	background-color:#7987a1;
	color: #fff;
}
.mh-100{
	min-height:900px;
	min-height: 75vh;
}
.hub .tab-content{
	min-height:105vh;
}
@media screen and (min-width:996px){
	.hub .tab-content{
		min-height:85vh;
	}
}

.app-card{
	background-color:#fff;
	border-radius: 0.75rem;
	margin-bottom:30px;
	min-height:200px;
}
.app-card h2{
	font-size: 1rem;
	margin-bottom: 1rem;
}
@media screen and (min-width:500px){
	.app-card{min-height: 240px;}
}
@media screen and (min-width:768px){
	.app-card{min-height: 160px;}
}
@media screen and (min-width:996px){
	.app-card h2{font-size: 1.05rem;}
}
.app-card .app-card-header{
	margin-bottom: 1rem;
	padding-top: 0.5rem;
}
.card-tooltip, .row-apps .card-tooltip{
	position: absolute;
    top: 10px;
    right: 30px;
    z-index: 99;
    color: #59647d;
	opacity: 0.8;
}
.card-tooltip:hover{
	color:#5f6062;
	opacity: 1;
}
.row-apps a{
	color:#202c47;
}
.row-apps a:hover, .row-apps a:focus, .row-apps a:active{
	text-decoration: none;
	color:#19243d;
}
.row-filters .form-control{
	border:none;
	border-radius: .5rem;
	-webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.05); 
	box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.05);
}
.row-filters label{
	font-size:0.8rem;
}
.row-filters label.custom-control-label{
	font-size:1rem;
}
.row-filters .col-md-6{margin-bottom: 1rem;}
.app-search{display: none;}
.app-search .form-control{
	width:150px;
	transition: width 0.4s;
}
.table-files-wrapper .tab-content>.active{
	background-color:#fff;
	border: 1px solid #dee2e6;
    border-top: none;
	border-bottom-left-radius:0.75rem;
	border-bottom-right-radius:0.75rem;
	border-top-right-radius: 0.75rem;
}
.table-files-wrapper .tab-pane h2, .table-files-wrapper .tab-pane .btn-upload{margin-left:.75rem; margin-right:.75rem;}
.table-files-wrapper .tab-pane h2{padding-top:1rem;}
.table-files-wrapper .tab-pane table .btn{margin-right:0.2rem;}
.table-files-wrapper .nav-tabs .nav-link:focus, .table-files-wrapper .nav-tabs .nav-link:hover{
	border-color: #e9ecef #e9ecef #dee2e6;
	background-color:rgba(255,255,255,0.7);
}
.dataTables_wrapper .custom-select, .dataTables_wrapper .form-control{
	border:none;
	border-radius: 0.5rem;
}
.d-996{
	display: none;
}
@media screen and (min-width:1012px){
	span.d-996{display: inline;}
	div.d-996{display: block;}
}
@media screen and (min-width:1000px){
	.app-projects .app-search{display: flex;}
}
@media screen and (min-width:1170px){
	.app-search .form-control:focus{
		width:400px;
		transition: width 0.4s;
	}
}
@media screen and (min-width:1300px){
	.app-search .form-control:focus{
		width:600px;
	}
}
/* == Colors == */
/* Info: #0094c9 */
/* Success: #7fbe41 */
/* Warning: #fec52e */
/* Danger: #d13239 */
a, .btn-link{
	color:#0092c7;
}
a:hover, a:active, a:focus, .btn-link:hover, .btn-link:focus, .btn-link:active{
	color:#006E96;
}
.text-danger{color:#d13239;}
/* Primary: #0092c7 */
.btn-primary, .custom-control-input:checked~.custom-control-label::before{
	background-color:#0092c7;
	border-color:#0092c7;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
	background-color:#0382b0;
	border-color:#0382b0;
}
/* Secondary: */
.card{margin-bottom: 30px;}
/* == Login == */
body.login, .full-height {
    height: 100%;
}
body.login{
	background-color:#fff;
	padding-top:0;
}
.full-height{
	height: 100vh;
}
body.login .bg-image{
	background-size: cover;
    background-repeat: no-repeat;
	background-position: 0 50%;
}

@media (min-width: 992px) {
	body.login .bg-image {
		background-image: url(../img/bg-image-md.jpg);
	}
}

@media (min-width: 1300px) {
	body.login .bg-image {
    	background-image: url(../img/bg-image-xl.jpg);
	}
}

.page-container{
	display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    min-width: 320px;
}

.login .main-container{
	display: -webkit-box;
    display: flex;
	-webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    max-width: 100%;
}
.login main{
	display: -webkit-box!important;
    display: flex!important;
	background-color:#fff;
	min-height: 100vh;
}
.login aside{
	display:none;
	min-height: 100vh;
	text-align: center;
	-webkit-box-align: center;
    align-items: center;
	-webkit-box-pack: center;
    justify-content: center;
}
@media (min-width: 992px) {
	.login aside {
		display: -webkit-box;
		display: flex;
	}
}
.img-responsive{
	max-width:100%;
	height: auto;
}
.img-fluid{
	height: auto;
	width: 100%;
	padding: 0;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.login label{margin-bottom:0.25rem;}
.login-area{
	display: -webkit-box;
    display: flex;
	background-color: #fff;
	min-height: 100vh;
	-webkit-box-align: center;
    align-items: center;
}
.login aside h1{
	color:#fff;
	font-size:4rem;
}
.login aside p {
	margin-bottom:0;
	color: #eee;
	font-size:1.2rem;
}
.min-width-125{min-width:100%;}
.btn-right,.btn-left{margin-bottom:1em;}
@media screen and (min-width:996px){
	.btn-right,.btn-left{margin-bottom:0;}
	.btn-right{text-align: right;}
	.min-width-125{min-width:125px;}
}

/* Datatables CSS for Bootstrap 4 (minified) */
table.dataTable{clear:both;margin-top:6px !important;margin-bottom:6px !important;max-width:none !important;border-collapse:separate !important;border-spacing:0}table.dataTable td,table.dataTable th{-webkit-box-sizing:content-box;box-sizing:content-box}table.dataTable td.dataTables_empty,table.dataTable th.dataTables_empty{text-align:center}table.dataTable.nowrap th,table.dataTable.nowrap td{white-space:nowrap}div.dataTables_wrapper div.dataTables_length label{font-weight:normal;text-align:left;white-space:nowrap}div.dataTables_wrapper div.dataTables_length select{width:auto;display:inline-block}div.dataTables_wrapper div.dataTables_filter{text-align:right}div.dataTables_wrapper div.dataTables_filter label{font-weight:normal;white-space:nowrap;text-align:left}div.dataTables_wrapper div.dataTables_filter input{margin-left:0.5em;display:inline-block;width:auto}div.dataTables_wrapper div.dataTables_info{padding-top:0.85em;white-space:nowrap}div.dataTables_wrapper div.dataTables_paginate{margin:0;white-space:nowrap;text-align:right}div.dataTables_wrapper div.dataTables_paginate ul.pagination{margin:2px 0;white-space:nowrap;justify-content:flex-end}div.dataTables_wrapper div.dataTables_processing{position:absolute;top:50%;left:50%;width:200px;margin-left:-100px;margin-top:-26px;text-align:center;padding:1em 0}table.dataTable thead>tr>th.sorting_asc,table.dataTable thead>tr>th.sorting_desc,table.dataTable thead>tr>th.sorting,table.dataTable thead>tr>td.sorting_asc,table.dataTable thead>tr>td.sorting_desc,table.dataTable thead>tr>td.sorting{padding-right:30px}table.dataTable thead>tr>th:active,table.dataTable thead>tr>td:active{outline:none}table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{cursor:pointer;position:relative}table.dataTable thead .sorting:before,table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:before,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:before,table.dataTable thead .sorting_desc_disabled:after{position:absolute;bottom:0.9em;display:block;opacity:0.3}table.dataTable thead .sorting:before,table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_desc:before,table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_desc_disabled:before{right:1em;content:"\2191"}table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc_disabled:after{right:0.5em;content:"\2193"}table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_desc:after{opacity:1}table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_desc_disabled:after{opacity:0}div.dataTables_scrollHead table.dataTable{margin-bottom:0 !important}div.dataTables_scrollBody table{border-top:none;margin-top:0 !important;margin-bottom:0 !important}div.dataTables_scrollBody table thead .sorting:before,div.dataTables_scrollBody table thead .sorting_asc:before,div.dataTables_scrollBody table thead .sorting_desc:before,div.dataTables_scrollBody table thead .sorting:after,div.dataTables_scrollBody table thead .sorting_asc:after,div.dataTables_scrollBody table thead .sorting_desc:after{display:none}div.dataTables_scrollBody table tbody tr:first-child th,div.dataTables_scrollBody table tbody tr:first-child td{border-top:none}div.dataTables_scrollFoot>.dataTables_scrollFootInner{box-sizing:content-box}div.dataTables_scrollFoot>.dataTables_scrollFootInner>table{margin-top:0 !important;border-top:none}@media screen and (max-width: 767px){div.dataTables_wrapper div.dataTables_length,div.dataTables_wrapper div.dataTables_filter,div.dataTables_wrapper div.dataTables_info,div.dataTables_wrapper div.dataTables_paginate{text-align:center}div.dataTables_wrapper div.dataTables_paginate ul.pagination{justify-content:center !important}}table.dataTable.table-sm>thead>tr>th :not(.sorting_disabled){padding-right:20px}table.dataTable.table-sm .sorting:before,table.dataTable.table-sm .sorting_asc:before,table.dataTable.table-sm .sorting_desc:before{top:5px;right:0.85em}table.dataTable.table-sm .sorting:after,table.dataTable.table-sm .sorting_asc:after,table.dataTable.table-sm .sorting_desc:after{top:5px}table.table-bordered.dataTable{border-right-width:0}table.table-bordered.dataTable th,table.table-bordered.dataTable td{border-left-width:0}table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable td:last-child,table.table-bordered.dataTable td:last-child{border-right-width:1px}table.table-bordered.dataTable tbody th,table.table-bordered.dataTable tbody td{border-bottom-width:0}div.dataTables_scrollHead table.table-bordered{border-bottom-width:0}div.table-responsive>div.dataTables_wrapper>div.row{margin:0}div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child{padding-left:0}div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child{padding-right:0}

.app-projects .table{
	font-size:0.8rem;
	background-color:#fff;
	border-radius:0.75rem;
}
@media screen and (max-width:1170px){
	.app-projects .table-responsive{
		overflow-y: scroll;
	}
}
.app-projects-single .form-control:disabled, .form-control[readonly]{
	background-color:#fff;
	opacity:1;
}
.app-projects-single .btn-minwidth{min-width: 150px;}
.custom-control.form-check-inline{display: inline-block;}
.table td, .table th{border-top:none;}
.page-link{
	color: #d12326;
}
.page-link:hover, .page-link:active, .page-link:focus{
	color: #c31d25;
}
.page-item.active .page-link{
	background-color: #d12326;
    border-color: #d1232b;
}
.page-item.active .page-link:hover{
	background-color: #c31d25;
    border-color: #c31d25;
}
.table th, tbody tr td:first-child {
    white-space: nowrap;
}
.mb-9{margin-bottom:6rem;}
.app-projects-single .mb-9{margin-bottom:9rem;}
.column-filters .custom-checkbox{
	min-width:108px;
}
.row-filters .custom-control-input:checked~.custom-control-label::before {
    background-color: #8dc63f;
    border-color: #8dc63f;
}
@media screen and (min-width:996px){
	table.dataTable tbody{
		min-height:425px;
	}
}

#modal-upload .modal-footer{
	justify-content: flex-start;
}
/* Fonts */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(../fonts/VarelaRound-Regular.ttf) format('ttf'), url(https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfp8uP.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.fa{
	font-family: FontAwesome;
}