<mat-card class='card-section'>
  <mat-card-title>Sign-in with Microsoft Azure AD B2C</mat-card-title>
  <mat-card-subtitle>Getting an access token with Azure AD B2C and calling a Web API</mat-card-subtitle>
  <mat-card-content id='profile'> Welcome {{profile?.name}}! </mat-card-content>
</mat-card>
