<nav class="navbar navbar-default navbar-fixed-top hidden-print">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false" aria-controls="main-nav">
        <span class="sr-only">Toggle Menu</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <a class="navbar-brand" href="dashboard.html"><img src="assets/img/logo.png" class="img-responsive" alt="PlayPower" /></a>
    </div>

    <!-- Comment below 3 lines for PRODUCTION -->
    <div class="dev">
      <p>DEVELOPMENT MODE</p>
    </div>

    <div id="main-nav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://playpower.com/">Home</a></li>
        <li><a href="http://playpower.com/news/">News</a></li>
        <li><a href="http://playpower.com/contact/">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
