<div>
  <div *ngIf="!isConfirmDialog">
  <h3>{{title ? title : ''}}</h3>
  <div class="form-group">
    <p>{{message}}</p>
  </div>
</div>
  <div *ngIf="isConfirmDialog">
    <button type="button" class="btn btn-fw" (click)="cancel()">Cancel</button>
    <button type="button" class="btn {{confirmButtonClass ? confirmButtonClass : 'btn-danger'}} btn-fw" (click)="delete()">{{confirmButton ? confirmButton : 'Delete'}}</button>
  </div>
</div>
