<div >
  <div class="alert  alert-dismissable" role="alert">
    <button type="button" class="close" aria-label="Close" ><span aria-hidden="true">&times;</span></button>
    <strong></strong> HAI this is alert box
  </div>
</div>
