<!-- <div class=" animated-css ads_module" data-header="sticky" data-header-top="200" data-canvas="container">
 <app-pp-header ></app-pp-header>
  <div id="wrapper">
  <div id="page-wrapper">
<router-outlet></router-outlet>
  <div> <p>ROE Dashboard</p></div>

  <app-pp-footer></app-pp-footer>
  </div>
  </div>
  </div>
 -->

<!--
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>PlayPower 360 Hub</title>
	<style>
		body .container-fluid{opacity:.1;-webkit-transition:opacity .15s;transition:opacity .15s}body.pace-done .container-fluid{opacity:1}.pace{-webkit-pointer-events:none;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;user-select:none;z-index:2000;position:fixed;margin:auto;top:0;left:0;right:0;bottom:0;height:8px;width:300px;background:#fff;border:1px solid #009bc8;overflow:hidden}.pace .pace-progress{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);max-width:200px;position:fixed;z-index:2000;display:block;position:absolute;top:0;right:100%;height:100%;width:100%;background:#009bc8}.pace.pace-inactive{display:none}
	</style>
</head>

<body class="hub"> -->

	<div class="container-fluid">
		<nav class="navbar navbar-expand-md navbar-light bg-shadow">
			<a class="navbar-brand" href="">
				<img src="../../assets/img/logo-sm.png" class="d-inline-block align-top" alt="PlayPower Hub">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarContent">
				<!-- <form class="form-inline app-search my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">Search</span></button>
        </form> -->
        &nbsp;&nbsp;
        <h3 style="color:grey">OrderEntry</h3>
				<ul id="user-preferences" class="navbar-nav ml-auto">
					<li class="nav-item hub-return">
						<a class="nav-link" (click)="returnToHub()"><i class="fa fa-sitemap mr-2" aria-hidden="true"></i> Return to the Hub</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img src="https://ui-avatars.com/api/?name=Justin+Downey&size=30&background=7987a1&color=fff" class="img-round img-responsive navbar-brand" alt="Placeholder Avatar" />
						</a>
						<div class="dropdown-menu" aria-labelledby="profileDropdown">
							<a class="dropdown-item" href=""><i class="fa fa-sliders mr-2" aria-hidden="true"></i> Preferences</a>
							<!-- <a class="dropdown-item" *ngIf="loggedIn" (click)="editProfile()"><i class="fa fa-user-circle-o mr-2" aria-hidden="true"></i> Edit Profile</a> -->
							<a class="dropdown-item" href=""><i class="fa fa-key mr-2" aria-hidden="true"></i> Change Password</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item text-danger" (click)="logout()"><i class="fa fa-power-off mr-2" aria-hidden="true"></i> Logout</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<main class="container-fluid">
<h1 style="text-align: center;">Order Entry</h1>
	</main><!--end container-fluid -->

	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-6 col-lg-4">
					<p>Copyright &copy;  <b class="d-none d-lg-inline">PlayPower, Inc.</b> <span class="d-none d-lg-inline">All Rights Reserved.</span></p>
				</div>
				<div class="col-lg-4 footer-img d-print-none">
					<img src="../../assets/img/logo-bug-large.png" alt="PlayPower Logo" class="mx-auto" />
				</div>
				<div class="col-6 col-lg-4">
					<ul class="nav justify-content-end">
  						<li class="nav-item"><a class="nav-link active" href="">Hub</a></li>
						<li class="nav-item d-none d-lg-flex"><a class="nav-link" href="">Privacy Policy</a></li>
						<li class="nav-item d-none d-xl-flex"><a class="nav-link" href="">Supplier Resources</a></li>
						<!-- <li class="nav-item"><a class="nav-link" *ngIf="loggedIn" (click)="logout()">Logout</a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</footer>
<!--

	<div id="toast-login" class="toast" role="status" aria-live="polite" aria-atomic="true" data-delay="5000">
		<div class="toast-header">
			<img src="../../assets/img/favicon-starter-sm.png" class="mr-2" alt="PlayPower Note">
			<strong class="mr-auto">Success!</strong>
			<small>just now</small>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
		<div class="toast-body">
			You have successfully logged in! This is an example &quot;toast&quot; message that will auto-hide in 5 seconds.
		</div>
	</div>
	<div id="toast-cool" class="toast" role="status" aria-live="polite" aria-atomic="true" data-delay="5000">
		<div class="toast-header">
			<img src="../../assets/img/favicon-starter-sm.png" class="mr-2" alt="PlayPower Note">
			<strong class="mr-auto">Cool, right?</strong>
			<small>1 second ago</small>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
		<div class="toast-body">
			These toast messages can also be stacked vertically AND they're accessible.
		</div>
	</div>
	<div id="toast-cool2" class="toast toast-stacked" role="status" aria-live="polite" aria-atomic="true" data-delay="2000">
		<div class="toast-header">
			<img src="../../assets/img/favicon-starter-sm.png" class="mr-2" alt="PlayPower Note">
			<strong class="mr-auto">Stacked Example</strong>
			<small>2 seconds ago</small>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
		<div class="toast-body">
			See, who doesn't love toast?!
		</div>
	</div>




 -->
