<nav class="navbar navbar-default navbar-fixed-top hidden-print">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false" aria-controls="main-nav">
        <span class="sr-only">Toggle Menu</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <a class="navbar-brand" href="dashboard.html"><img src="assets/img/logo.png" class="img-responsive" alt="PlayPower" /></a>
    </div>
    <div id="main-nav" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">Custom Views</li>
        <li class="dropdown">
         Marketing
        </li>
        <li class="dropdown" >
          <a href="#"
          class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Technical <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li></li>
          </ul>
        </li>
        <li class="dropdown" >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>Brands</li>
            <li>Fields</li>
            <li>Roles</li>
            <li>Users</li>
          </ul>
        </li>
        <!-- Comment below 3 lines for PRODUCTION -->
        <li class="dev">
          <p>DEVELOPMENT MODE</p>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle"
          data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi
           <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Edit Profile</a></li>
            <li>Change Password</li>
            <li role="separator" class="divider"></li>
            <li> Logout</li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>

