<div *ngIf="!loggedIn">

  <h1 style="color:grey;text-align: center;">Please Wait....</h1>
</div>



<div *ngIf="loggedIn">
	<div class="container-fluid">
		<nav class="navbar navbar-expand-md navbar-light bg-shadow">
			<a class="navbar-brand" href="">
				<img src="../../assets/img/logo-sm.png" class="d-inline-block align-top" alt="PlayPower Hub">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarContent">
				<form class="form-inline app-search my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">Search</span></button>
				</form>
				<ul id="user-preferences" class="navbar-nav ml-auto">
					<li class="nav-item hub-return">
						<a class="nav-link" href=""><i class="fa fa-sitemap mr-2" aria-hidden="true"></i> Return to the Hub</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img src="https://ui-avatars.com/api/?name={{profile?.given_name}}&size=30&background=7987a1&color=fff" class="img-round img-responsive navbar-brand" alt="Placeholder Avatar" />{{profile?.given_name}}!
						</a>
						<div class="dropdown-menu" aria-labelledby="profileDropdown">
							<a class="dropdown-item" href=""><i class="fa fa-sliders mr-2" aria-hidden="true"></i> Preferences</a>
							<a class="dropdown-item" *ngIf="loggedIn" (click)="editProfile()"><i class="fa fa-user-circle-o mr-2" aria-hidden="true"></i> Edit Profile</a>
							<a class="dropdown-item" href=""><i class="fa fa-key mr-2" aria-hidden="true"></i> Change Password</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item text-danger" *ngIf="loggedIn" (click)="logout()"><i class="fa fa-power-off mr-2" aria-hidden="true"></i> Logout</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<main class="container-fluid">
		<ul id="hub-tabs" class="nav nav-pills nav-justified" role="tablist">
			<li class="nav-item" role="presentation"><a class="nav-link bg-shadow active" id="admin-tab" href="#apps-admin" data-toggle="tab" role="tab" aria-controls="apps-admin" aria-selected="true"><i class="fa fa-cogs mr-2" aria-hidden="true"></i> <span class="d-996">Administration</span></a></li>
			<li class="nav-item" role="presentation"><a class="nav-link bg-shadow" id="design-tab" href="#apps-design" data-toggle="tab" role="tab" aria-controls="apps-design"><i class="fa fa-paint-brush mr-2" aria-hidden="true"></i> <span class="d-996">Design and Project</span></a></li>
			<li class="nav-item" role="presentation"><a class="nav-link bg-shadow" id="sales-tab" href="#apps-sales" data-toggle="tab" role="tab" aria-controls="apps-sales"><i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i> <span class="d-996">Sales Monitoring</span></a></li>
			<li class="nav-item" role="presentation"><a class="nav-link bg-shadow" id="mgt-tab" href="#apps-mgt" data-toggle="tab" role="tab" aria-controls="apps-mgt"><i class="fa fa-file-text-o mr-2" aria-hidden="true"></i> <span class="d-996">Account Management</span></a></li>
		</ul>
		<div class="tab-content" id="app-tabs">
			<div class="tab-pane fade show active" id="apps-admin" role="tabpanel" aria-labelledby="admin-tab">
				<div class="row row-apps justify-content-lg-center">
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a *ngIf="loggedIn" (click)="redirectreo()">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-projects.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Projects</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-analytics.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Analytics</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->

					<!-- Special Case -->
					<div class="w-100"></div>

					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-sales.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Sales Portal</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-configure.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Configure One</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
				</div><!--/row-->
			</div><!--/apps-admin-->
			<div class="tab-pane fade" id="apps-design" role="tabpanel" aria-labelledby="design-tab">
				<div class="row row-apps justify-content-md-center">
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-analytics.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Analytics</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-projects.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Projects</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-product.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Product Categories</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->

					<!-- Special Case -->
					<div class="w-100"></div>

					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-configure.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Configure One</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-playdesign.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Play Design</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Marketing Assets</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
				</div><!--/row-->
			</div><!--/apps-design-->
			<div class="tab-pane fade" id="apps-sales" role="tabpanel" aria-labelledby="sales-tab">
				<div class="row row-apps justify-content-md-center">
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-transactions.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Transactions</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-portal.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Sales Revenue</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-sales.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Sales Portal</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-configure.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Configure One</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->

					<!-- Special Case -->
					<div class="w-100"></div>

					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-product.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Product Categories</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-projects.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Projects</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-work.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Work Progress</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-marketing.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Marketing Assets</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
				</div><!--/row-->
			</div><!--/apps-sales-->
			<div class="tab-pane fade" id="apps-mgt" role="tabpanel" aria-labelledby="mgt-tab">
				<div class="row row-apps justify-content-md-center">
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-accounts.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Accounts</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-work.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Work Progress</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-playdesign.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Play Design</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-marketing.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Marketing Assets</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-projects.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Projects</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-analytics.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Analytics</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->

					<!-- Special Case -->
					<div class="w-100"></div>

					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-sales.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Sales Portal</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-transactions.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Transactions</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-product.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Product Categories</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-portal.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Sales Revenue</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-configure.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Configure One</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
					<div class="col col-lg-4 col-xl-2">
						<a href="#" class="card-tooltip" data-toggle="tooltip" data-placement="top" title="Lorum ipsum dolor sit amet."><span class="fa fa-question-circle"></span></a>
						<a href="">
							<div class="app-card text-center bg-shadow col-md-auto">
								<div class="app-card-header">
									<img src="../../assets/img/app-icon-compliance.png" alt="App Name" class="img-responsive mx-auto" />
								</div>
								<div class="app-card-body">
									<h2>Compliance</h2>
								</div>
							</div>
						</a><!--/app-card-->
					</div><!--/col-->
				</div><!--/row-->
			</div><!--/apps-mgt-->
		</div><!--/tab-content-->
	</main><!--end container-fluid -->

	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-6 col-lg-4">
					<p>Copyright &copy;  <b class="d-none d-lg-inline">PlayPower, Inc.</b> <span class="d-none d-lg-inline">All Rights Reserved.</span></p>
				</div>
				<div class="col-lg-4 footer-img d-print-none">
					<img src="../../assets/img/logo-bug-large.png" alt="PlayPower Logo" class="mx-auto" />
				</div>
				<div class="col-6 col-lg-4">
					<ul class="nav justify-content-end">
  						<li class="nav-item"><a class="nav-link active" href="">Hub</a></li>
						<li class="nav-item d-none d-lg-flex"><a class="nav-link" href="">Privacy Policy</a></li>
						<li class="nav-item d-none d-xl-flex"><a class="nav-link" href="">Supplier Resources</a></li>
						<li class="nav-item"><a class="nav-link" *ngIf="loggedIn" (click)="logout()">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>


	<div id="toast-login" class="toast" role="status" aria-live="polite" aria-atomic="true" data-delay="5000">
		<div class="toast-header">
			<img src="../../assets/img/favicon-starter-sm.png" class="mr-2" alt="PlayPower Note">
			<strong class="mr-auto">Success!</strong>
			<small>just now</small>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
		<div class="toast-body">
			You have successfully logged in! This is an example &quot;toast&quot; message that will auto-hide in 5 seconds.
		</div>
	</div>
	<div id="toast-cool" class="toast" role="status" aria-live="polite" aria-atomic="true" data-delay="5000">
		<div class="toast-header">
			<img src="../../assets/img/favicon-starter-sm.png" class="mr-2" alt="PlayPower Note">
			<strong class="mr-auto">Cool, right?</strong>
			<small>1 second ago</small>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
		<div class="toast-body">
			These toast messages can also be stacked vertically AND they're accessible.
		</div>
	</div>
	<div id="toast-cool2" class="toast toast-stacked" role="status" aria-live="polite" aria-atomic="true" data-delay="2000">
		<div class="toast-header">
			<img src="../../assets/img/favicon-starter-sm.png" class="mr-2" alt="PlayPower Note">
			<strong class="mr-auto">Stacked Example</strong>
			<small>2 seconds ago</small>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
		<div class="toast-body">
			See, who doesn't love toast?!
		</div>
	</div>

</div>



