<!-- <div class="container-fluid" id="authentication-wrapper">
  <div id="welcome-message">
    <h4>Log in to continue </h4>
  </div>
  <div id="wrap">
     <img src="https://bit.ly/2udBml1" alt="profile picture">
  </div>
  <form [formGroup]="loginRequestFormGroup" #f="ngForm">
    <div class="form-group">
      <label for="user-email" class="sr-only">Username</label>
      <input type="email" class="form-control" formControlName="Username" placeholder="Username" name="user-email" id="user-email" required />
    </div>
    <div class="form-group">
      <label for="user-pass" class="sr-only">Password</label>
      <input type="password" class="form-control" formControlName="Password"  placeholder="Password" name="user-pass" id="user-pass" required />
    </div>
    <div class="checkbox rememberme">
      <label>
        <input type="checkbox"> Remember me for 2 weeks
      </label>
    </div>
    <lib-pp-button></lib-pp-button>
    <a [routerLink]=""  aria-controls="reset" role="tab" data-toggle="tab" class="btn btn-link">Reset Password</a>
  </form>
</div>



 -->
