/* === Custom CSS ===
 * reset everything to the default box model 
 * https://docs.telerik.com/kendo-ui/third-party/using-kendo-with-twitter-bootstrap#nest-widgets-and-bootstrap-grid-layout
*/

/**, :before, :after
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}*/

/* set a border-box model only to elements that need it */

.form-control, /* if this class is applied to a Kendo UI widget, its layout may change */
.container,
main .container-fluid,
.row,
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-control.k-widget
{
    padding: 0;
    width: 100%;
    height: auto;
}

.form-control.k-widget:not(.k-autocomplete)
{
    border-width: 0;
}
.navbar-default{
	-webkit-box-shadow: 0px 8px 6px -6px rgba(150,150,150,0.2);
	-moz-box-shadow: 0px 8px 6px -6px rgba(150,150,150,0.2);
	box-shadow: 0px 8px 6px -6px rgba(150,150,150,0.2);
	border-top:none;
	border-left: none;
	border-right:none;
	border-bottom:1px solid #eee;
	border-radius: 0;
}
.navbar-default .navbar-toggle .icon-bar{background-color: #5f6062;}
.navbar-default .navbar-collapse{border-color: #eee;}
.navbar .glyphicon {margin-right: 8px;}
.navbar-brand{padding: 14px 15px 6px;}
.navbar-brand img{max-width: 190px; height:auto;}
.navbar-default .dropdown-menu{border-color: #eee;}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{max-height: 380px;}
/* Hamburger Menu Animation */
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
	width: 22px;
	-ms-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.navbar-toggle .top-bar {
  	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-ms-transform-origin: 10% 10%;
	-webkit-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
  	-ms-transform-origin: 10% 90%;
	-webkit-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);
	transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
	-ms-transform: rotate(0);
	-webkit-transform: rotate(0);
	transform: rotate(0);
}
.dropdown-menu>li>a.text-danger, .navbar-default .navbar-nav .open .dropdown-menu>li>a.text-danger{color: #c8171f;}
.navbar-default .navbar-nav>li>a{color: #555;}
.navbar-default .navbar-nav>.active>a{background-color: #f1f1f1; color: #444;}
.breadcrumb{padding-left:0;}
.help-block{font-size: 0.8em;}
body {
  /*min-height: 2000px;*/
  padding-top: 80px;
}
.section{margin-top: 2em;}
footer{padding-top:30px; padding-bottom: 60px; text-align:center; font-size:0.8em;}
.current-menu-item{color:#000; background-color: #f8f8f8;}
.k-grid-header th.k-header>.k-link, .k-grid tr td, .k-grid > .k-grouping-header, .k-grid-header:first-child, .k-grid-toolbar:first-child, .k-scheduler > .k-scheduler-toolbar:first-child{font-size: 14px;}
.k-grid-header th.k-header>.k-link, .k-grid-header th.k-header{font-weight: bold;}
.k-grid > .k-grouping-header, .k-grid-pager, .k-grid-toolbar{padding-left:0.6em;}
.k-button.k-grid-save-changes, .k-window .k-primary{color: #fff; background-color: #8dc63f; border-color: #8dc63f;}
.k-button.k-grid-add{color: #ffffff; border-color: #cf1820; background-color: #e51b24;}
.dynamic-div{/*min-height: 690px;*/ position: relative; background-color:#f5f5f5; border:1px solid #ccc;  border-radius: 4px; -webkit-transition:all 0.2s; transition:all 0.2s;}
.dynamic-div .loading{position: absolute; top: 50%; left: 45%; text-align: center; color:#999; }
.dynamic-div.k-display-block{background-color:#fff; }
.dynamic-div.k-display-block .loading{display: none;}
.btn-fw{min-width: 100px;}
#login-stuff{margin-top:5em; margin-bottom:5em;}
#login-stuff .panel-heading{background-color:#ddd;}
#login-stuff .panel-default{
	-webkit-box-shadow: 2px 2px 6px 0px rgba(100,100,100,0.2);
	-moz-box-shadow: 2px 2px 6px 0px rgba(100,100,100,0.2);
	box-shadow: 2px 2px 6px 0px rgba(100,100,100,0.2);
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@media (min-width:968px) {
	h1, .h1{font-size: 48px;}
	#login-stuff{margin-top:8em; margin-bottom:8em;}
	.navbar-brand img{max-width: 206px;}
}

@media (min-width:1170px) {
	h1, .h1{font-size: 55px;}
	#login-stuff{margin-top:10em; margin-bottom: 10em;}
}

a.k-grid-column-menu.k-grid-filter {
  bottom: 0px !important;
}

.breadcrumb {
  margin-bottom: 5px;
}

mdm-product-list .k-grid tr td, mdm-product-list .k-header {
  border-left: 1px solid rgb(212,212,212);
  border-top: 1px solid rgb(212,212,212);
}

mdm-all-assets kendo-grid {
  height: 72vh;
}
