<kendo-grid [data]="usersData" [height]="410">
  <kendo-grid-column field="Id" title="ID" width="40">
  </kendo-grid-column>
  <kendo-grid-column field="Name" title="Name" width="250">
  </kendo-grid-column>
  <!-- <kendo-grid-column field="Category.CategoryName" title="Category">
  </kendo-grid-column>
  <kendo-grid-column field="UnitPrice" title="Price" width="80">
  </kendo-grid-column>
  <kendo-grid-column field="UnitsInStock" title="In stock" width="80">
  </kendo-grid-column> -->
  <kendo-grid-column field="Discontinued" title="Discontinued" width="120">
      <ng-template kendoGridCellTemplate let-dataItem>
          <!-- <input type="checkbox" [checked]="dataItem.Discontinued" disabled/> -->
          <button kendoButton [primary]="true">Edit</button>
      </ng-template>
  </kendo-grid-column>
</kendo-grid>
